@page
@model BeersModel
@{
    ViewData["Title"] = "List Beers";
}
<script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</script>
<h1>
    @ViewData["Title"]
</h1>
<div>
    <table class="table table-dark">
        <thead>
            <tr>
                <th scope="col">BeerID</th>
                <th scope="col">Marca</th>
                <th scope="col">Origen</th>
                <th scope="col">Tipo</th>
                <th scope="col">Grados</th>
                <th scope="col">Imagen</th>
            </tr>
        </thead>
        @foreach (var Beer in Model.Beers)
        {
            <tr>
                <td>
                    @Beer._id
                </td>
                <td>
                    @Beer.Marca
                </td>
                <td>
                    @Beer.Origen
                </td>
                <td>
                    @Beer.Tipo
                </td>
                <td>
                    @Beer.Grados
                </td>
                <td>
                    <img src="@Beer.Imagen" width="80" height="160" />
                </td>
            </tr>;
        }
    </table>

    <!--INSERTAR va a la funcion subyacente de OnPost-->
    <form asp-page-handler="post" method="post">
        <input type="text" id="marca" aria-label="Marca" placeholder="Marca" class="form-control">
        <input type="text" id="origen" aria-label="Origen" placeholder="Origen" class="form-control">
        <input type="text" id="tipo" aria-label="Tipo" placeholder="Tipo" class="form-control">
        <input type="text" id="grados" aria-label="Grados" placeholder="Grados" class="form-control">
        <input type="text" id="imagen" aria-label="Imagen(URL)" placeholder="Imagen(URL)" class="form-control">
        <button type="submit" class="btn btn-primary btn-lg btn-block" id="AddBeer">Add</button>
    </form>
    <hr />
    <!--DELETE va a la funcion subyacente de OnPostDelete-->
    <form asp-page-handler="delete" method="post">
        <input asp-for="BeerID" type="text" id="marca" aria-label="Marca" placeholder="BeerID" class="form-control">
        <button type="submit" class="btn btn-primary btn-lg btn-block">Delete</button>
    </form>
    <hr />
    <!--UPDATE va a la funcion subyacente de OnPostUpdate--->
    <form asp-page-handler="update" method="put">
        <input type="text" id="marca" aria-label="Marca" placeholder="Marca" class="form-control">
        <input type="text" id="origen" aria-label="Origen" placeholder="Origen" class="form-control">
        <input type="text" id="tipo" aria-label="Tipo" placeholder="Tipo" class="form-control">
        <input type="text" id="grados" aria-label="Grados" placeholder="Grados" class="form-control">
        <input type="text" id="imagen" aria-label="Imagen(URL)" placeholder="Imagen(URL)" class="form-control">
        <button type="submit" class="btn btn-primary btn-lg btn-block">Update</button>
    </form>
</div>
